---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tekkom-bot-api
    component: api
    part-of: tekkom-bot
    project: tekkom-bot
    confidentiality: not-defined
    compliance: not-defined
  name: tekkom-bot-api
  namespace: tekkom-bot
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  selector:
    matchLabels:
      app: tekkom-bot-api
  template:
    metadata:
      labels:
        app: tekkom-bot-api
    spec:
      imagePullSecrets:
        - name: tekkom-bot-pull-secret
      containers:
        - name: tekkom-bot-api
          image: registry.login.no/tekkom/dev/tekkom-bot/api:1.0.2
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: DB
              value: tekkom-bot
            - name: DB_HOST
              value: tekkom-bot-api-psql-rw.tekkom-bot.svc.cluster.local
            - name: DB_USER
              value: tekkom-bot
            - name: DB_PORT
              value: "5432"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: password
            - name: TEKKOM_BOT_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: TEKKOM_BOT_API_TOKEN
            - name: QUEENBEE_URL
              value: https://queenbee.login.no
            - name: REDIRECT_URI
              value: https://api.tekkom-bot.login.no/api/callback
            - name: GITHUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: GITHUB_TOKEN
            - name: GITHUB_WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: GITHUB_WEBHOOK_SECRET
            - name: WEBHOOK_URL_ISSUE
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: WEBHOOK_URL_ISSUE
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: AUTHENTIK_CLIENT_ID
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: CLIENT_SECRET
            - name: TEKKOM_BOT_BTG_TOKEN
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: TEKKOM_BOT_BTG_TOKEN
            - name: QUEENBEE_BTG_TOKEN
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: QUEENBEE_BTG_TOKEN
            - name: CRITICAL_ROLE
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: CRITICAL_ROLE
            - name: CRITICAL_ROLE_DEV
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: CRITICAL_ROLE_DEV
            - name: WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: WEBHOOK_URL
            - name: AUTHENTIK_API_URL
              value: https://authentik.login.no
            - name: SPOTIFY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: SPOTIFY_CLIENT_ID
            - name: SPOTIFY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: tekkom-bot-secrets
                  key: SPOTIFY_CLIENT_SECRET
          livenessProbe:
            httpGet:
              path: /api/
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: 512Mi
              cpu: 512m
            limits:
              memory: 1024Mi
              cpu: 1000m
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - tekkom-bot-api
                topologyKey: kubernetes.io/hostname
